<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{common.title.create(${module.admin})}">Criar Administrador</title>
</head>
<body>
<header>
    <h1 th:text="#{common.header.create(${module.admin})}">Criar Administrador</h1>
</header>

<form th:action="@{/users/create-admin}" method="post" th:object="${user}">
    <input type="text" th:field="*{name}" th:placeholder="#{common.placeholder.name}" required />
    <input type="email" th:field="*{email}" th:placeholder="#{common.placeholder.email}" required />
    <input type="password" th:field="*{password}" th:placeholder="#{common.placeholder.password}" required />
    <button type="submit" th:text="#{common.action.create}">Criar</button>
</form>
</body>
</html>