<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard - Sistema (Admin)</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<header>
    <h1>Dashboard</h1>
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit">Sair</button>
    </form>
</header>

<nav>
    <ul>
        <li><a th:href="@{/users/list}">Listar usuários</a></li>
        <li><a th:href="@{/users/create-tester}">Cadastrar Tester</a></li>
        <li><a th:href="@{/users/create-admin}">Cadastrar Admin</a></li>
        <li><a th:href="@{/projects/list}">Gerenciar Projetos</a></li>
        <li><a th:href="@{/strategies/list}">Gerenciar Estratégias</a></li>
        <li><a href="#">Cadastro Sessão de Teste</a></li>
    </ul>
</nav>

<main>
    <p>Bem-vindo ao painel administrativo.</p>


</main>
</body>
</html>
