<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{common.title.details(${module.user})}">Detalhes do Usuário</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="content-card">
<header>
    <h1 th:text="#{common.header.details(${module.user})}">Detalhes do Usuário</h1>
    <nav>
        <a th:href="@{/users/list}" th:text="#{common.action.back_to_list}">Voltar para Lista</a>
    </nav>
</header>

<section>
    <p><strong th:text="#{common.label.id}">ID:</strong> <span th:text="${user.id}">1</span></p>
    <p><strong th:text="#{common.label.email}">Email:</strong> <span th:text="${user.email}">email@example.com</span></p>
    <p><strong th:text="#{common.label.role}">Role:</strong> <span th:text="${user.role}">ADMIN</span></p>
</section>
</div>
</body>
</html>