<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{common.title.edit(${module.user})}">Editar Usuário</title> <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="content-card">
<header>
    <h1 th:text="#{common.header.edit(${module.user})}">Editar Usuário</h1> <nav>
        <a th:href="@{/users}" th:text="#{common.action.back_to_list}">Voltar para Lista</a> </nav>
</header>

<form th:action="@{/users/edit/{id}(id=${user.id})}" method="post" th:object="${user}">
    <label th:text="#{common.label.name}">Name:</label> <input type="text" th:field="*{name}" required />
    <br/><br/>
    <label th:text="#{common.label.email}">Email:</label> <input type="email" th:field="*{email}" required />
    <br/><br/>
    <label th:text="#{common.label.password}">Senha:</label> <input type="password" th:field="*{password}" />
    <small th:text="#{common.password.hint}">Deixe em branco para não alterar</small> <br/><br/>
    <button type="submit" th:text="#{common.action.update}">Atualizar</button> </form>
</div>
</body>
</html>