<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label>Email:</label>
    <input type="text" name="username" required />
    <br/><br/>
    <label>Senha:</label>
    <input type="password" name="password" required />
    <br/><br/>
    <button type="submit">Entrar</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red"></p>
<p th:if="${msg}" th:text="${msg}" style="color:green"></p>
</body>
</html>
