<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{common.title.list(${module.strategy})}">Lista de Estratégias</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="#{common.header.list(${module.strategy})}">Estratégias</h1>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/strategies/create}" th:text="#{strategies.list.button.create_new}">Criar Nova Estratégia</a>
</div>
<table border="1" style="border-collapse: collapse; width: 100%;">
    <thead>
    <tr>
        <th th:text="#{common.name}">Nome</th>
        <th th:text="#{common.description}">Descrição</th>
        <th th:text="#{common.tips}">Dicas</th>
        <th th:text="#{common.examples}">Exemplos</th>
        <th th:text="#{common.actions}">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="strategy : ${strategies}">
        <td th:text="${strategy.name}">Nome</td>
        <td th:text="${strategy.description}">Descrição</td>

        <td>
            <ul>
                <li th:each="tip : ${strategy.tips}" th:text="${tip}">Dica</li>
            </ul>
        </td>

        <td>
            <div th:each="example : ${strategy.examples}">
                <p><strong th:text="#{common.label.text}">Texto:</strong> <span th:text="${example.text}">Texto do exemplo</span></p>
                <div>
                    <strong th:text="#{common.image}">Imagem:</strong>
                    <span th:text="${example.image.filePath}">Caminho da imagem</span><br/>
                    <img th:src="@{${example.image.filePath}}" th:alt="${example.image.altPath}" style="max-width: 150px; max-height: 150px;" />
                </div>
                <hr/>
            </div>
        </td>

        <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/strategies/edit/{id}(id=${strategy.id})}" th:text="#{common.action.edit}">Editar</a> |
            <form th:action="@{/strategies/delete/{id}(id=${strategy.id})}" method="post" style="display:inline;">
                <button type="submit"
                    th:text="#{common.action.delete}"
                    th:attr="onclick='return confirm(' + ${#strings.escapeJavaScript(#messages.msg('common.confirm.delete_item', strategy.name))} + ');'"
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>