<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Projeto</title>
</head>
<body>
<h1 th:text="${projeto.name}">Nome do Projeto</h1>

<p><strong>Descrição:</strong> <span th:text="${projeto.description}">Descrição</span></p>
<p><strong>Data de Criação:</strong> <span th:text="${#temporals.format(projeto.creationDate, 'dd/MM/yyyy HH:mm')}">Data</span></p>

<!--
<p><strong>Membros:</strong>
    <ul>
        <li th:each="m : ${projeto.members}" th:text="${m.name}">Nome do membro</li>
    </ul>
</p>
-->

<a th:href="@{/projects/list}">Voltar</a>
</body>
</html>
